div.element-container:nth-child(2) button {
  color: blue;
  border-radius: 50%;
  height: 3em;
  width: 3em;
}

div.element-container:nth-child(3) button {
  color: red;
  border-radius: 50%;
  height: 3em;
  width: 3em;
}

div.element-container:nth-child(4) button {
  color: grey;
  border-radius: 50%;
  height: 3em;
  width: 3em;
}
